body {
    background-color:#FEF6F1;
    font-family: sans-serif;
}

/* header */

header h1 {
    float: right;
}

header img {
    height: 100px;
    width: 100px;
}

/* nav */

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-inline: 5% 5%; 
    background-color: #0D0D0D;
}

nav ul li a {
    text-decoration: none;
    color: #FEF6F1;;
}

nav ul li:hover {
    text-decoration: none;
    box-shadow: 2px 2px 2px #B8B8BF;
    font-weight: bold;
}